@use 'base';

.left{
  height: 100%;
  flex: 0 0 100px;
  background-color: var(--main-blue);
}

.logo-img {
  background-image: var(--logo-img);
  background-repeat: no-repeat;
  background-size: contain;
  width: 80px;
  height: 30px;
}
