@use 'base';

%message{
  border: 1px solid black;
  padding: 10px;
  color: black;
}

article{
  h1{
    font-size: 1.2em;
  }
  h2{
    font-size: 1.0em;
  }

  // 組合子(`+`) 是一個相鄰兄弟組合子(adjacent sibling combinator), 選擇所有在相同父元素下，且在指定元素之後的同級元素。在這個情境中，它選擇了所有在 <article> 元素後面的直接相鄰的 <div> 元素。
  +div{
    margin: 20px;
  }
}

.inverse{
  background-color: base.$primary_color;
  color: white;
}

.message-success{
  @extend %message;
  color: green;
}

.message-info{
  @extend %message;
  color: yellow;
}

.message-error{
  @extend %message;
  color: red;
}
