$bg_color: #b3d9ff;
$font_color: black;
$font_stack: Helvetica, sans-serif;
$font_size: 18px;

body{
  background-color:$bg_color;
  h1 {
    color: $font_color
  }
}

.comment{
  font: 100% $font_stack;
  font-size: 8 / 10 * $font_size;
}

article{
  h1{
    font-size: 1.2em;
  }
  h2{
    font-size: 1.0em;
  }

  // 組合子(`+`) 是一個相鄰兄弟組合子(adjacent sibling combinator), 選擇所有在相同父元素下，且在指定元素之後的同級元素。在這個情境中，它選擇了所有在 <article> 元素後面的直接相鄰的 <div> 元素。
  +div{
    margin: 20px;
  }
}
